#h1{
    color:purple
}
.header{
    background-color: blue;
    margin: 0px;
    padding: 0px;
    border: 0px;
    justify-content: space-between;
    display: flex;
    box-shadow: 5px 10px rgb(176, 183, 183,0.2);
}

.logo{
    height: 50px;
    width: 50px;
    background-color: black;
    margin-left: 20px;
}
.user{
    height: 50px;
    width: 50px;
    background-color: pink;
    margin-right: 20px;
    border-radius: 50%;
}
.search{
    height: 50px;
    width: 200px;
    background-color: white;
}