.appLayout{
    display: grid;
    /* border: 1px solid red; */
}
.header{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.1);
}
.appLogo{
    margin: -10px;
    padding-left: 150px;
    /* border: 2px solid black; */
    height: 90px;
    width: 40x;
}

.header > ul{
    list-style-type: none;
    display: flex;
    padding-right: 150px;
}

.header > ul >li{
    padding: 20px;
}
body{
    margin: 0px;
}
.sHeader{
    margin-left: 150px;
    margin-right: 150px;
}
.sHeader > hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.sHeaderItems{
    display: flex;
    justify-content: space-between;
}
.appBody{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
}
.restoCard > img{
    height: 200px;
    width: 200px;
    margin: 10px;
    
}

.restoCard{
    /* border: 2px solid black; */
    width: 220px;
}
.loaderCard{
    width: 220px;
    height: 400px;
    background-color: lightgray;
    animation: blinker 1.5s linear infinite;
    margin: 10px;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.restoCard:hover{
    border: 1px solid grey;
}
.restoCardItems {
    margin: 10px;
}
.searchBox {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.searchContainer {
    height: 25px;
    border-color: grey;
    margin-right: 10px;
    border-radius: 20px;
}
.searchButton {
    height: 25px;
    background-color: orange;
    border: 0;
    border-radius: 10px;
}
.noDataFound{
    margin: 0px auto;
    padding-top: 20px;
    font-weight: 900;
    font-size: large;
}

.loader{
    margin: 0px auto;
    padding-top: 20px;
    font-weight: 900;
    font-size: large;
}